.brands__title {
  margin-bottom: 41px;
  justify-content: flex-start;
  
  font-size: 50px;
  font-family: "OpenSans";
  color: rgb( 51, 51, 51 );
  font-weight: 700;
  line-height: 0.52;
  text-align: center;
}



