@import url(./__container/section__container.css);
@import url(./__title/section__title.css);



.section {
  width: 90%;
  margin: auto;
  -webkit-box-shadow: 2.5px 4.33px 50px 5px rgb( 237, 235, 253 );
          box-shadow: 2.5px 4.33px 50px 5px rgb( 237, 235, 253 );
  background-color: rgb( 255, 255, 255 );
  z-index: 500;
  margin-top: -50px;
}
