.section__title {
  padding-top: 80px;
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  font-size: 50px;
  font-family: "OpenSans";
  color: rgb( 51, 51, 51 );
  font-weight: bold;
  line-height: 0.52;
  text-align: center;
}
